.App {
  text-align: center;
  width: 60vw;
  background-color: white;
}
.chat-input{
  display: flex;
  margin-top: 6%;
}

 
.like{
  font-size: larger;
  /* margin-top: -1%; */
  margin-bottom: 2%;
}
h1{
  color: rgb(70, 210, 235);
  animation: rotateScale 8s;
}
@keyframes rotateScale {
  0%, 100% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(360deg);
  }
}
.span{
  font-size:x-large;
  background-color: skyblue;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  /* width: 50%; */
  /* white-space: pre-wrap; */
}
strong{
  background-color: aliceblue;
  border-radius: 10px;
  /* margin-right: 2px; */
  color: rgb(92, 4, 73);
}

#text{
 font-size: smaller;
 overflow-x:auto;
 color: rgb(2, 36, 68);
 font-weight: 450;
 word-wrap: break-word;
 margin:5px 10px 10px 10px;
}






